<footer class="page-footer">
	<div class="container">
		<h4>Send Us A Message</h4>
		<br>
		<div class="row">
			<div class="col l4 s12">
				<div class="grey-bg">
					<h5>Contact Us</h5>
					<table>
						<tbody>
							<tr>
								<td><span>EMAIL</span></td>
								<td>admin@electrosec.net</td>
							</tr>
							<tr>
								<td><span>PHONE</span></td>
								<td>+962-6-5540899</td>
							</tr>
							<tr>
								<td><span>FAX</span></td>
								<td>+962-6-5530929</td>
							</tr>
						</tbody>
					</table>
					<br>
				</div>
				<div class="spacing">
					<div class="social grey-bg center-align">
						<h6>Visit us on Facebook</h6>
						<a href="https://www.facebook.com/electrosec123/photos/a.998573896832914/1957598744263753/?type=3&__tn__=EHH-R" target="_blank">
							<i class="fab fa-facebook-square fa-3x"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col s12 l8">
				<form class="grey-bg" method="post" action="/contact">
					<div class="row top-row">
						<div class="input-field col s10 offset-s1 m5 offset-m1">
							<i class="material-icons prefix">account_circle</i>
							<input name="name" type="text" placeholder="Name">
						</div>
						<div class="input-field col s10 offset-s1 m5">
							<i class="material-icons prefix">contact_mail</i>
							<input name="email" type="text" placeholder="Email">
						</div>
					</div>
					<div class="row">
						<div class="input-field col s10 offset-s1 m5 offset-m1">
							<i class="material-icons prefix">contact_phone</i>
							<input name="phone" type="text" placeholder="Phone">
						</div>
						<div class="input-field col s10 offset-s1 m5">
							<i class="material-icons prefix">people</i>
							<input name="company" type="text" placeholder="Company">
						</div>
					</div>
					<div class="row">
						<div class="input-field col s10 offset-s1 m10 offset-m1">
							<textarea id="message" name="message" class="materialize-textarea"></textarea>
							<label for="message">Message</label>
						</div>
					</div>
					<div class="row">
						<div class="col s4 offset-s6 m4 offset-m8">
							<button class="btn waves-effect waves-light blue darken-4 btn-small" type="submit" name="action">Send
								<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<p>&copy; M3r 2018</p>
		</div>
	</div>
</footer>
