<!-- NAVBAR -->
<div class="navbar-fixed">
	<nav class="white">
		<div class="container">
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo"><img src="/images/logo.jpg" alt="Electrosec Logo"></img></a>
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#home">Home</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#products">Products</a></li>
					<li><a href="#partner">Partner</a></li>
					<li><a href="#aboutus">About Us</a></li>
					<!--
					<li><a class="btn btn-small grey" href="/users/login">login</a></li>
					-->
				</ul>
			</div>
		</div>
	</nav>
</div>

<!-- SIDE NAV -->
<ul id="nav-mobile" class="sidenav blue lighten-5">
	<li>
		<div class="user-view">
			<div class="background">
				<img src="/images/app/user-background.jpg" alt="Side Navigation Background">
			</div>
			<img src="/images/electrosec.png" width="200" alt="Electrosec Logo">
			<p class="name white-text">Providing Key Security</p>
		</div>
	</li>
	<li><a href="#home" class="sidenav-close">Home</a></li>
	<li><a href="#services" class="sidenav-close">Services</a></li>
	<li><a href="#products" class="sidenav-close">Products</a></li>
	<li><a href="#partner" class="sidenav-close">Partner</a></li>
	<li><a href="#aboutus" class="sidenav-close">About Us</a></li>
</ul>

