<!-- PARALLAX IMAGE -->
<div id="home" class="parallax-container valign-wrapper scrollspy">
	<div class="container">
		<div class="row">
			<div class="col l8 s12">
				<div class="blue-bg valign white-text">
					<h4>More than just a Key to Security</h4>
					<p class="flow-text hide-on-small-only">In an ever-changing world security is becoming more and more important. ELECTROSEC provides you with solutions towards a comprehensive security protecting your assets and facilities!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="parallax"><img src="/images/keyS.jpg" alt="key"></div>
</div>

<!-- FLASH MESSAGES -->
<section id="flash" class="section scrollspy grey lighten-4 center">
	<div class="container">

		{{#each messages}}
			<div class="row">
				<div class="card {{ this.cardColor }} lighten-5 col s12 m12 l6 offset-l3">
					<div class="card-content {{ this.textColor }}">
						<p><i class="material-icons left">{{ this.icon }}</i>
						{{#each this.msg }}
							{{ this }}<br>
						{{/each }}
						</p>
					</div>
				</div>
			</div>
		{{/each }}

	</div>
</section>

<!-- SERVICES SECTION -->
<section id="services" class="section scrollspy grey lighten-4 center">
	<div class="container">
		<h3 class=".center-align">Services We Offer</h3>
		<h5 class=".center-align">We Put Your Needs First</h3>
		<hr style="width: 90%">
		<br>
		<div class="row">
			<div class="col s12 m12 l4">
				<div class="card hoverable">
					<div class="card-image">
						<img src="/images/fireAlarmPanel.jpg">
						<span class="card-title">Design &amp; Build</span>
					</div>
					<div class="card-content">
						<p>Our experienced team of engineers and technicians are able to design and build complete systems for all your needs, whether you need security or fire detection we have the team for you.<br><br><br></p>
					</div>
				</div>
			</div>
			<div class="col s12 m12 l4">
				<div class="card hoverable">
					<div class="card-image">
						<img src="/images/Biometric.png">
						<span class="card-title">Maintenance Services</span>
					</div>
					<div class="card-content">
						<p>If your company is in need of our services you’ve definitely come to the right place. Electrosec has got everything you need to take care of your company’s requirements and will make sure you receive the best service as soon as possible. We pride ourselves with the customer service we provide and guarantee you’ll love working with us.</p>
					</div>
				</div>
			</div>
			<div class="col s12 m12 l4">
				<div class="card hoverable">
					<div class="card-image">
						<img src="/images/lens.jpg">
						<span class="card-title">Distribution</span>
					</div>
					<div class="card-content">
						<p>Electrosec is more than happy to distribute its products to resellers be it a small scale or large scale distribution, we are able to support all.<br><br><br><br><br></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- FIXED BACKGROUND -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed2"></div>
	</div>
</figure>

<!-- PRODUCTS SECTION -->
<section id="products" class="section scrollspy grey lighten-4 center">
	<div class="container">
		<h3 class=".center-align">Our Products</h3>
		<h5 class=".center-align">Leading the Way to Security</h3>
		<hr style="width: 90%;">
		<br>
		<p class="flow-text">Electrosec is a leading specialist company in the field of ELV systems providing turn-key solutions for projects across many disciplines.</p>
		<p class="flow-text">Electrosec is committed to cutting-edge technology standards through systematic product research and development, dealing with some of the largest and most successful communications, electronics and electrical engineering manufacturers in the world. Suppliers are selected depending on the application and customer needs.</p>
		<p class="flow-text">Products vary depending on the application and the client. One key specialty is to provide a cost effective and practical solution that meets our client’s demands, while in line with international standards regulations.</p>
		<p class="flow-text">Electrosec provides many services from supply, design, supervision, installation, commissioning and turnkey projects.</p>
		<p class="flow-text">Electrosec services include the complete study and analysis of project requirements to fulfill all necessary local and international standards and specifications for the protection of life and property. Services also include risk assessments for commercial buildings insurance companies’, real estate management and the like.</p>
		<hr width="60%">
		<br>
		<div class="row">
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/Industrial.jpg">
					</div>
					<div class="product-content">
						<h5 class="product-title">Industrial Switches</h5>
						<div class="product-description">
							<p>A wide range of industrial active and passive network equipment including all types of accessories.<br>Media converters, specialist Fiber converters and many more.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/fireFinder.jpg">
					</div>
					<div class="product-content">
						<h5 class="product-title">Fire Detection</h5>
						<div class="product-description">
							<p>A choice of conventional or addressable systems is available.<br>From high end complex installations requiring high performance sensitive smoke detection equipment to standard application of a small shop.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/microtrack.png">
					</div>
					<div class="product-content">
						<h5 class="product-title">Perimeter Detection</h5>
						<div class="product-description">
							<p>Perimeter security devices and systems are never enough on their own, Electrosec provide fully integrated security systems encompassing various systems under one plateform.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/smartLane.png">
					</div>
					<div class="product-content">
						<h5 class="product-title">Traffic Management</h5>
					</div>
					<div class="product-description">
						<p>Pedestrian and vehicle traffic control is a familiar theme in our lives.<br>Electrosec provides for high end solutions in difficult environments.</p>
					</div>
				</div>
			</div>
		</div>

		<hr style="width: 60%">
		<br>
		<div class="row">
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/cctv-cam.jpg">
					</div>
					<div class="product-content">
						<h5 class="product-title">CCTV</h5>
						<div class="product-content">
							<p>Large scale to small scale, Electrosec can meet all your needs. One of the first companies in Jordan to introduce IP cameras when the technology was at 0.3MP.<br>Today we have installations of 20MP and introducing even higher resolutions to the market.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/videoAnalytics.jpg">
					</div>
					<div class="product-content">
						<h5 class="product-title">Video Analytics</h5>
						<div class="product-content">
							<p>When Electrosec introduced IP cameras to the market we also jointly brought in Video analytics for the security market.<br>Today, we continue to provide all the video analytics features for the security but have also added retail and traffic market segments into our scope.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img class="activator" src="/images/products/accessControl.jpg">
					</div>
					<div class="product-content">
						<h5 class="product-title activator">Access Control</h5>
						<div class="product-content">
							<p>You've most likely used access control products at one point. There is a great deal in the background though and we provide a complete end to end solution.<br>Integrating CCTV, burglar alarms and many other systems with our state of the art solution.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/keypad.png">
					</div>
					<div class="product-content">
						<h5 class="product-title activator">Burglar Alarm</h5>
						<div class="product-content">
							<p>Sadly, burglaries happen. But by installing a burglar alarm you’re reducing the chances of becoming a victim of crime. Our alarm systems are not only reliable when called on, but act as a great deterrent too.<br>Catering for small home, or shop to a large scale complex our systems are best in world wide</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr style="width: 60%">
		<br>
		<h4 class=".center-align">Special Applications</h4>
		<br>
		<div class="row">
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/videoWalls.png">
					</div>
					<div class="product-content">
						<h5 class="product-title activator">Control Rooms</h5>
						<div class="product-content">
							<p>A varied selection of displays for control rooms is available depending on the scale you require we can cater for all your needs.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/perimeter.jpg">
					</div>
					<div class="product-content">
						<h5 class="product-title activator">Perimeter Security</h5>
						<div class="product-content">
							<p>Using specialised sensors we can analyse and locate intrusion, across a long range perimeter. Interfaced with CCTV application we can also track and locate.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/egates.png">
					</div>
					<div class="product-content">
						<h5 class="product-title activator">Immigration Gates</h5>
						<div class="product-content">
							<p>If you've travelled to the UAE you would have most likely used our Egates.<br>Working through our affiliate company in with Morpho Safran and Eimass in the</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l3">
				<div class="product">
					<div class="product-image waves-effect waves-block waves-light">
						<img src="/images/products/software.jpg">
					</div>
					<div class="product-content">
						<h5 class="product-title activator">Customized Software</h5>
						<div class="product-content">
							<p>We customize access control solutions to provide integration with ERP systems, or send and receive events based on specific criteria.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- FIXED BACKGROUND -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed1"></div>
	</div>
</figure>

<!-- PARTNER SECTION -->
<section id="partner" class="section scrollspy grey lighten-4 center">
	<div class="container">
		<h3 class=".center-align">Our Product Lines</h3>
		<h5 class=".center-align">Our Strength lies in our World-Class Partners</h3>
		<hr style="width: 90%">
		<br>
		<div class="row">
			<div class="col s12 m4">
				<div class="partner-logo center-align valign-wrapper">
					<a href="https://www.axis.com" target="_blank"><img class="hoverable" src="/images/partners/Axis-logo.jpg" width="40%" alt="Axis Logo"></a>
				</div>
				<div class="partner-scope">
					<h5>Video Surveillance Cameras<br>and Software</h5>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="partner-logo center-align valign-wrapper">
					<a href="https://www.lenel.com" target="_blank"><img class="hoverable" src="/images/partners/Lenel.png" width="50%" alt="Lenel Logo"></a>
				</div>
				<div class="partner-scope">
					<h5>Access Control</h5>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="partner-logo center-align valign-wrapper">
					<a href="https://is.spiap.com" target="_blank"><img class="hoverable" src="/images/partners/Vanderbilt.jpg" width="60%" alt="Vanderbilt Logo"></a>
				</div>
				<div class="partner-scope">
					<h5>Access Control, Burglar<br>Alarms and CCTV</h5>
				</div>
			</div>
		</div>

		<hr class="hide-on-small-only" style="width: 60%">
		<br>
		<div class="row">
			<div class="col s12 m4">
				<div class="partner-logo center-align valign-wrapper">
					<a href="https://www.milestonesys.com" target="_blank"><img class="hoverable" src="/images/partners/Milestone.png" width="60%" alt="Milestone Logo"></a>
				</div>
				<div class="partner-scope">
					<h5>Video Management<br>Software</h5>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="partner-logo center-align valign-wrapper">
					<a href="https://www.buildingtechnologies.siemens.com/bt/global/en/firesafety/fire-detection/pages/fire-detection.aspx" target="_blank"><img class="hoverable" src="/images/partners/Siemens.png" width="50%" alt="Siemens Logo"></a>
				</div>
				<div class="partner-scope">
					<h5>Fire Detection</h5>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="partner-logo center-align valign-wrapper">
					<a href="http://www.cooperfire.com" target="_blank"><img class="hoverable" src="/images/partners/Eaton.png" width="60%" alt="Eaton Logo"></a>
				</div>
				<div class="partner-scope">
					<h5>Fire Detection</h5>
				</div>
			</div>
		</div>

		<hr class="hide-on-small-only" style="width: 60%">
		<br>
		<div class="row">
			<div class="col s12 m4">
				<div class="partner-logo center-align valign-wrapper">
					<a href="https://www.automatic-systems.com" target="_blank"><img class="hoverable" src="/images/partners/AS.png" width="60%" alt="Automatic-Systems Logo"></a>
				</div>
				<div class="partner-scope">
					<h5>Barriers, Gates &amp;<br>Road Blockers</h5>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="partner-logo center-align valign-wrapper">
					<a href="https://www.invixium.com" target="_blank"><img class="hoverable" src="/images/partners/Invixium.png" width="60%" alt="Invixium Logo"></a>
				</div>
				<div class="partner-scope">
					<h5>Biometric Solutions</h5>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="partner-logo center-align valign-wrapper">
					<a href="https://interlogix.com" target="_blank"><img class="hoverable" src="/images/partners/UTC.png" width="70%" alt="UTC Logo"></a>
				</div>
				<div class="partner-scope">
					<h5>CCTV, Networking, Burglar<br>Alarms &amp; Access Control</h5>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ABOUT US SECTION -->
<section id="aboutus" class="section scrollspy grey lighten-4 center">
	<div class="container">
		<h3 class=".center-align">About Us</h3>
		<h5 class=".center-align">Our Story</h3>
		<hr style="width:90%">
		<br>
		<p class="flow-text">We at Electrosec are a top Security System Integrator located in Amman Jordan since 2005. We lead the local industry in customer approval and strive to provide world class service for every contract, large or small. Whether we’re working with an individual client or a company, we guarantee you’ll receive only the best quality products and service from us.</p>
		<img width="80%" src="/images/Team.jpg" alt="Electrosec Team">
	</div>
</section>
